.btn-notify-subscribers {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

.container {
    margin-top: 30px;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    margin-bottom: 30px;
}

.blog-card {
    padding:10px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.grid > article img {
  max-width: 100%;
}

.text {
  padding: 0 20px 20px;
}

.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
