{% extends 'mainApp/base.html' %}


{% block content %}
<div class="container">
	<h1>{{ object.title }}</h1>
	Posted by {{ object.author }}
	{% if user.is_authenticated %}
		{% if user.id == object.author.id %}
		<small> - 
			<a href="{% url 'blog:edit_post' object.pk %}">(Edit)</a>
			<a href="{% url 'blog:delete_post' object.pk %}">(Delete)</a>
		</small><br/>
		{% endif %}
	{% endif %}
	Category - <a href="{% url 'blog:category' object.category '-date' %}">{{ object.category }}</a><br />
	{{ object.date }}
	<hr>
	<br />
	<img src="{{ object.image }}"><br />
	{{ object.body|safe }}
	<br />
	<br />
	<a href="{% url 'blog:blog' %}">Back</a>
</div>
{% endblock %}