{% extends 'mainApp/base.html' %}


{% block content %}
<div class="container">
	<h1>{{ object.title }}</h1>
	Posted by {{ object.author }}
	{% if user.is_authenticated %}
		{% if user.id == object.author.id %}
		<small> - 
			<a href="{% url 'blog:edit_post' object.pk %}">(Edit)</a>
			<a href="{% url 'blog:delete_post' object.pk %}">(Delete)</a>
		</small><br/>
		{% endif %}
	{% endif %}
	Category - <a href="{% url 'blog:category' object.category '-date' %}">{{ object.category }}</a><br />
	{{ object.date }}


    {% if user.is_authenticated %}
		<br>
		<a href="{% url 'notifications:add_subscription' object.id %}" data-intro="Click on this link if you want email updates for this!">
			Subscribe to this article</a>
	{% endif %}

	{% if user.is_staff %}
		<br>
		<a href="{% url 'notifications:notify_subscribers' object.id %}">
			<button class="btn-danger btn-notify-subscribers" type="submit">Notify Subscribers</button>
		</a>
	{% endif %}	
	
	<hr>
	<br />
	<img src="{{ object.image }}"><br />
	{{ object.body|safe }}
	<br />
	<br />
	<a href="{% url 'blog:blog' %}">Back</a>
</div>
{% endblock %}