{% extends 'mainApp/base.html' %}


{% block content %}


<div class="container">
	<h1> The Blog </h1>
	<table style="width:20%">
	<tr>
		<td>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" data-intro="You can select a category of topics to filter on">
					Categories
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'blog:category' 'Django tutorial' '-date' %}">Django tutorial</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'blog:category' 'News' '-date' %}">News</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'blog:category' 'Miscellaneous' '-date' %}">Miscellaneous</a>
				</div>
			</div>

			<br/>
		</td>

		<td>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
				aria-haspopup="true" aria-expanded="false" data-intro="You change the sort order here.">
					Sort By
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'blog:blog' %}">Date</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'blog:blog_title' %}">Title</a>
				</div>
			</div>
			<br/>
		</td>
	</tr>
	</table>


    <div class="card" id= "backdrop">
		<div class="card-body" data-intro="Thumbnails of each course are here. Click on &quotRead More to view each information on a course&quot">
			<div class="row">
				{% for x in object_list %}
					<div class="col-md-4">
						<div class="card blogcard" >
							<div class="card-body">
								<div class="text-center">


								<a href="{% url 'blog:article-detail' x.pk %}"><h3>{{ x.title }}</h3></a><br/>
								Posted by {{ x.author }} </br>
								
								{% if user.is_staff %}
								<small> - 
									<a href="{% url 'blog:edit_post' x.pk %}">(Edit)</a>
									<a href="{% url 'blog:delete_post' x.pk %}">(Delete)</a>
								</small>
								{% endif %}	
								<br/>

								Category - <a href="{% url 'blog:category' x.category '-date' %}">{{ x.category }}</a><br />

								{{ x.date }}<br/>

								<a href="{% url 'blog:article-detail' x.pk %}">
									<img src="{{ x.image }}" class="img-fluid">
								</a><br/>								

								
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
   </div>






</div>


{% endblock %}
