{% extends 'mainApp/base.html' %}


{% block content %}


<div class="container">
	<h1> The Blog  - {{ cat }}</h1>
	<ul>
	{% for x in category_post %}
		<li><a href="{% url 'blog:article-detail' x.pk %}">{{ x.title }}</a><br/>
		Posted by {{ x.author }} - <small>
			<a href="{% url 'blog:edit_post' x.pk %}">(Edit)</a>
			<a href="{% url 'blog:delete_post' x.pk %}">(Delete)</a>
			</small><br/>
		Category - {{ x.category }}<br />
		{{ x.date }}<br/>
		<a href="{% url 'blog:article-detail' x.pk %}">
			<img src="{{ x.image }}">
		</a><br/>
		{{ x.body }}</li>
	{% endfor %}
	</ul>
</div>


{% endblock %}