{% extends 'mainApp/base.html' %}


{% block content %}

<style>
    body{
        background-color: #151313;
    }
</style>

<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ course.image }}" alt="{{course.name}}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h3 class= "text-center">
                        {{course.name}}
                    </h3>
                    <p> {{course.description}}</p>
                    <h5>Course Creator: {{ course.creator }}</h5>
                    <h5>Last Updated Date: {{ course.last_updated_date }}</h5>
                    <h5>Rating: {{ course.average_rating }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}